*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.navBar{
    background-color: #2c2f35;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 25px;
    }


.navbarContainer1 {
    color: white;
    display: flex;
    gap: 6vw;
}

.welcomeUser{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.link{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.link:after{
    content: "";
    position: absolute;
    background-color: #04BD7D;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.link:hover:after{
    width: 100%;
}